<div class="wrapper">
  <div class="ps-5 pt-5">
    *** STRATEGY PAGE CONTENT GOES HERE ***
  </div>
  <div class="ps-5 pt-5">
    *** CLICK ON "OPEN ACCOUNT" ***
  </div>
  <div class="footer">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <a mat-raised-button class="me-3" color="" routerLink="../personal-details">
          {{ 'bkek.footer.book-consultation' | translate }}
        </a>
        <a mat-raised-button class="me-3" color="warn" routerLink="../personal-details">
          {{ 'bkek.footer.open-account' | translate }}
        </a>
        <a mat-raised-button class="me-3" color="accent" routerLink="../personal-details">
          {{ 'bkek.footer.chat' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
